@include media-breakpoint-only(xs){
.text-xs-center{
		text-align:center !important;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 767.98px) {
	.nav-brand {

		float:left !important;
		}

}
