@font-face {
    font-family: primaryFont;
    src: url("./fonts/iranyekanwebregularfanum.eot"),
    url("./fonts/iranyekanwebregularfanum.woff") format('woff'),
    url("./fonts/iranyekanwebregularfanum.ttf") format('truetype');
}

body {
    font-family: primaryFont !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

