
/* https://jsfiddle.net/vadikom/7k3wu7no/?utm_source=website&utm_medium=embed&utm_campaign=7k3wu7no */
$base-color:#F7F8FA;
$dark-color:#ECECEC;
$dark-color2:#464646;
$light-grey:#a8a8a8;
$light-grey2:#b3b3b3;
$white:#353451;

.main-nav {
	position: relative;
	background: $base-color;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.main-nav:after {
	clear: both;
	content: "\00a0";
	display: block;
	height: 0;
	font: 0px/0 primaryFont;
	overflow: hidden;
}

.nav-brand {
	float: right;
	margin: 0;
}

.nav-brand a {
	display: block;

	line-height: 20px;

}

#main-menu {
	clear: both;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@media (min-width: 768px) {
	#main-menu {
		float: right;
		clear: none;
	}
}


/* Mega menus */


/* make mega menus take the full width of .main-nav */

#main-menu,
#main-menu > .has-mega-menu {
	position: static !important;
}

#main-menu .mega-menu {
	margin-left: 0 !important;
	right: 0 !important;
	width: auto !important;
	max-width: none !important;
}

#main-menu > .has-mega-menu .scroll-up,
#main-menu > .has-mega-menu .scroll-down {
	margin-left: 0 !important;
}


/* clear any floats inside the mega menus */

#main-menu .mega-menu > li {
	overflow: auto;
}


/* reset mega menu list/link styles (which are inherited from the SmartMenus core/theme styles) */

#main-menu .mega-menu {
	color: $dark-color2;
}

#main-menu .mega-menu ul {
	position: static;
	display: block;
	margin: 0.83em 0;
	border: 0;
	padding: 0 0 0 20px;
	width: auto;
	background: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main-menu .mega-menu ul li {
	display: list-item;
	list-style-type: disc;
	border: 0;
}

#main-menu .mega-menu a {
	display: inline;
	border: 0;
	padding: 0;
	background: transparent;
	color: inherit;
	text-decoration: underline;
}


/* simple columns inside the mega menus */

#main-menu .mega-menu .column-1-3 {
	padding: 0 20px;
}

@media (min-width: 768px) {
	#main-menu .mega-menu .column-1-3 {
		float: left;
		width: 33.33%;
	}
}


/* Sample image placeholder */

.mega-menu-sample-image {
	margin: 0.83em 0;
	border: 1px solid;
	height: 80px;
	line-height: 80px;
	text-align: center;
}


/* Mobile menu top separator */

#main-menu:before {
	content: '';
	display: block;
	height: 1px;
	font: 1px/1px primaryFont;
	overflow: hidden;
	background: darken( $base-color, 30% );
}

@media (min-width: 768px) {
	#main-menu:before {
		display: none;
	}
}


/* Mobile menu toggle button */

.main-menu-btn {
	float: right;
	margin: 10px;
	position: relative;
	display: inline-block;
	width: 29px;
	height: 29px;
	text-indent: 29px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
	position: absolute;
	top: 50%;
	left: 2px;
	height: 2px;
	width: 24px;
	background: $white;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.main-menu-btn-icon:before {
	content: '';
	top: -7px;
	left: 0;
}

.main-menu-btn-icon:after {
	content: '';
	top: 7px;
	left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
	height: 0;
	background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


#main-menu-state {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
	display: none;
}

#main-menu-state:checked ~ #main-menu {
	display: block;
}

@media (min-width: 768px) {
	/* hide the button in desktop view */
	.main-menu-btn {
		position: absolute;
		top: -99999px;
	}
	/* always show the menu in desktop view */
	#main-menu-state:not(:checked) ~ #main-menu {
		display: block;
	}
}



.sm-purple {
	background: transparent;
	border-radius: 0px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.sm-purple a, .sm-purple a:hover, .sm-purple a:focus, .sm-purple a:active {
	padding: 10px 20px;
	/* make room for the toggle button (sub indicator) */
	padding-right: 58px;
	background: $base-color;;
	color: $white;

	font-family:primaryFont;
	line-height: 23px;

	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
.sm-purple a.current {
	background: $base-color;
color: $white;
}
.sm-purple a.disabled {
color: lighten( $base-color, 10% );
}
.sm-purple a .sub-arrow {
position: absolute;
top: 50%;
margin-top: -17px;
left: auto;
right: 4px;
width: 34px;
height: 34px;
overflow: hidden;
font: bold 16px/34px primaryFont !important;
text-align: center;
text-shadow: none;
background: rgba(0, 0, 0, 0.1);
border-radius: 0px;
}
.sm-purple a .sub-arrow::before {
content: '+';
}
.sm-purple a.highlighted .sub-arrow::before {
content: '-';
}
.sm-purple > li:first-child > a, .sm-purple > li:first-child > :not(ul) a {
border-radius: 0px 0px 0 0;
}
.sm-purple > li:last-child > a, .sm-purple > li:last-child > *:not(ul) a, .sm-purple > li:last-child > ul, .sm-purple > li:last-child > ul > li:last-child > a, .sm-purple > li:last-child > ul > li:last-child > *:not(ul) a, .sm-purple > li:last-child > ul > li:last-child > ul, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
border-radius: 0 0 0px 0px;
}
.sm-purple > li:last-child > a.highlighted, .sm-purple > li:last-child > *:not(ul) a.highlighted, .sm-purple > li:last-child > ul > li:last-child > a.highlighted, .sm-purple > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-purple > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
border-radius: 0;
}
.sm-purple ul {
background: $dark-color;
}
.sm-purple ul ul {
background: rgba(102, 102, 102, 0.1);
}
.sm-purple ul a, .sm-purple ul a:hover, .sm-purple ul a:focus, .sm-purple ul a:active {
background: transparent;
color: #000;

text-shadow: none;
border-left: 8px solid transparent;
}
.sm-purple ul a.current {
background: $base-color;
color: $white;
}
.sm-purple ul a.disabled {
color: $light-grey2;
}
.sm-purple ul ul a,
.sm-purple ul ul a:hover,
.sm-purple ul ul a:focus,
.sm-purple ul ul a:active {
border-left: 16px solid transparent;
}
.sm-purple ul ul ul a,
.sm-purple ul ul ul a:hover,
.sm-purple ul ul ul a:focus,
.sm-purple ul ul ul a:active {
border-left: 24px solid transparent;
}
.sm-purple ul ul ul ul a,
.sm-purple ul ul ul ul a:hover,
.sm-purple ul ul ul ul a:focus,
.sm-purple ul ul ul ul a:active {
border-left: 32px solid transparent;
}
.sm-purple ul ul ul ul ul a,
.sm-purple ul ul ul ul ul a:hover,
.sm-purple ul ul ul ul ul a:focus,
.sm-purple ul ul ul ul ul a:active {
border-left: 40px solid transparent;
}
.sm-purple ul li {
border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-purple ul li:first-child {
border-top: 0;
}

@media (min-width: 768px) {
/* Switch to desktop layout
-----------------------------------------------
These transform the menu tree from
collapsible to desktop (navbar + dropdowns)
-----------------------------------------------*/
/* start... (it's not recommended editing these rules) */
.sm-purple ul {
position: absolute;
width: 12em;
}

.sm-purple li {
float: left;
}

.sm-purple.sm-rtl li {
float: right;
}

.sm-purple ul li, .sm-purple.sm-rtl ul li, .sm-purple.sm-vertical li {
float: none;
}

.sm-purple a {
white-space: nowrap;
}

.sm-purple ul a, .sm-purple.sm-vertical a {
white-space: normal;
}

.sm-purple .sm-nowrap > li > a, .sm-purple .sm-nowrap > li > :not(ul) a {
white-space: nowrap;
}

/* ...end */
.sm-purple {
background: $base-color;
border-radius: 0px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sm-purple a, .sm-purple a:hover, .sm-purple a:focus, .sm-purple a:active, .sm-purple a.highlighted {
padding: 14px 23px;
background: $base-color;
color: $white;
}
.sm-purple a:hover, .sm-purple a:focus, .sm-purple a:active, .sm-purple a.highlighted {
background: darken( $base-color, 10% );
}
.sm-purple a.current {
background: $base-color;
color: $white;
}
.sm-purple a.disabled {
background: $base-color;
color: lighten( $base-color, 10% );
}
.sm-purple a .sub-arrow {
top: auto;
margin-top: 0;
bottom: 2px;
left: 50%;
margin-left: -5px;
right: auto;
width: 0;
height: 0;
border-width: 5px;
border-style: solid dashed dashed dashed;
border-color: lighten( $base-color, 10% ) transparent transparent transparent;
background: transparent;
border-radius: 0;
}
.sm-purple a .sub-arrow::before {
display: none;
}
.sm-purple > li:first-child > a, .sm-purple > li:first-child > :not(ul) a {
border-radius: 0px 0 0 0px;
}
.sm-purple > li:last-child > a, .sm-purple > li:last-child > :not(ul) a {
border-radius: 0 0px 0px 0 !important;
}
.sm-purple > li {
border-left: 0px solid darken( $base-color, 10% );
}
.sm-purple > li:first-child {
border-left: 0;
}
.sm-purple ul {
border: 0px solid $light-grey;
padding: 5px 0;
background: $dark-color;
border-radius: 0 0 0px 0px !important;
box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
.sm-purple ul ul {
border-radius: 0px !important;
background: $white;
}
.sm-purple ul a, .sm-purple ul a:hover, .sm-purple ul a:focus, .sm-purple ul a:active, .sm-purple ul a.highlighted {
border: 0 !important;
padding: 10px 23px;
background: transparent;
color: #000;
border-radius: 0 !important;
}
.sm-purple ul a:hover, .sm-purple ul a:focus, .sm-purple ul a:active, .sm-purple ul a.highlighted {
background: $base-color;
color: $white;
}
.sm-purple ul a.current {
background: $base-color;
color: $white;
}
.sm-purple ul a.disabled {
background: $white;
color: $light-grey2;
}
.sm-purple ul a .sub-arrow {
top: 50%;
margin-top: -5px;
bottom: auto;
left: auto;
margin-left: 0;
right: 10px;
border-style: dashed dashed dashed solid;
border-color: transparent transparent transparent lighten( $base-color, 10% );
}
.sm-purple ul li {
border: 0;
}
.sm-purple .scroll-up,
.sm-purple .scroll-down {
position: absolute;
display: none;
visibility: hidden;
overflow: hidden;
background: $white;
height: 20px;
}
.sm-purple .scroll-up-arrow,
.sm-purple .scroll-down-arrow {
position: absolute;
top: -2px;
left: 50%;
margin-left: -8px;
width: 0;
height: 0;
overflow: hidden;
border-width: 8px;
border-style: dashed dashed solid dashed;
border-color: transparent transparent $dark-color transparent;
}
.sm-purple .scroll-down-arrow {
top: 6px;
border-style: solid dashed dashed dashed;
border-color: $dark-color transparent transparent transparent;
}
.sm-purple.sm-rtl.sm-vertical a .sub-arrow {
right: auto;
left: 10px;
border-style: dashed solid dashed dashed;
border-color: transparent lighten( $base-color, 10% ) transparent transparent;
}
.sm-purple.sm-rtl > li:first-child > a, .sm-purple.sm-rtl > li:first-child > :not(ul) a {
border-radius: 0 0px 0px 0;
}
.sm-purple.sm-rtl > li:last-child > a, .sm-purple.sm-rtl > li:last-child > :not(ul) a {
border-radius: 0px 0 0 0px !important;
}
.sm-purple.sm-rtl > li:first-child {
border-left: 0px solid darken( $base-color, 10% );
}
.sm-purple.sm-rtl > li:last-child {
border-left: 0;
}
.sm-purple.sm-rtl ul a .sub-arrow {
right: auto;
left: 10px;
border-style: dashed solid dashed dashed;
border-color: transparent lighten( $base-color, 10% ) transparent transparent;
}
.sm-purple.sm-vertical {
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.sm-purple.sm-vertical a {
padding: 9px 23px;
}
.sm-purple.sm-vertical a .sub-arrow {
top: 50%;
margin-top: -5px;
bottom: auto;
left: auto;
margin-left: 0;
right: 10px;
border-style: dashed dashed dashed solid;
border-color: transparent transparent transparent lighten( $base-color, 10% );
}
.sm-purple.sm-vertical > li:first-child > a, .sm-purple.sm-vertical > li:first-child > :not(ul) a {
border-radius: 0px 0px 0 0;
}
.sm-purple.sm-vertical > li:last-child > a, .sm-purple.sm-vertical > li:last-child > :not(ul) a {
border-radius: 0 0 0px 0px !important;
}
.sm-purple.sm-vertical > li {
border-left: 0 !important;
}
.sm-purple.sm-vertical ul {
border-radius: 0px !important;
}
.sm-purple.sm-vertical ul a {
padding: 10px 23px;
}
}


/* fix */
.nav-brand a {
//padding: 5px;

}
